// Calculator
.calculator {
    @extend %center-hv;

    width:600px;
    padding:10px;

    background-color:lighten(map-get($colors, blue-sky), 20%);
    box-shadow:
        -3px 5px 5px -5px fade-out(darken(map-get($colors, blue-sky), 30%), 0.85),
        3px 5px 5px -5px fade-out(darken(map-get($colors, blue-sky), 30%), 0.85),
        0px 0px 5px 0 fade-out(darken(map-get($colors, blue-sky), 30%), 0.65);

    // Screen
    &__screen {
        position:relative;

        height:60px;
        margin:5px 5px 10px;

        background-color:fade-out(map-get($colors, white), 0.1);

        &-operation, 
        &-display {
            display:block;
        }

        // The operation display
        &-operation {
            position:absolute;
            top:0;
            left:0;

            width:60px;
            height:100%;

            color:map-get($colors, white);
            line-height:60px;
            text-align:center;

            background-color:map-get($colors, blue);
        }

        // Inside display
        &-display {
            @extend %center-v;

            left:10px;
            right:10px;

            margin-left:60px + 5px;

            color:map-get($colors, black);
            font-size:1.25rem;
            text-align:right;

            overflow:hidden;

            &--input {
                color:map-get($colors, blue);
            }
        }
    }

    // Buttons
    &__buttons {

    }

    &__button {
        float:left;

        height:60px;
        margin:5px;

        // Left buttons container (numbers)
        .calculator__buttons--left & {
            width:calc((100% / 3) - 10px);
        }

        // Center buttons container (operations)
        .calculator__buttons--center & {
            width:calc((100% / 2) - 10px);

             // Take the full width
            &--full {
                width:calc(100% - 10px);
            }
        }

        // Right buttons container (equal sign)
        .calculator__buttons--right & {
            width:calc(100% - 10px);
        }

        // Operation buttons
        &--operation {
            //height:calc((60px*2) + 10px);
        }

        // Equals button
        &--equal {
            height:calc((60px*4) + 30px);
        }

    }
}
